{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>
    <h3 id="date"></h3>
    <div id="alluserD">
    <h2 id="alluserdb">User Dashboard</h2>
    <h2 id="welcome">User Dashboard!</h2>
    </div>
    <h1>Jetro Web Development Incoorperated(JWD'INC)</h1>
    <h4>Jetro Web Work Sessions Tracker</h4>

    <div id="status"></div>
    <h2 id="todayd">Today's Dashboard</h2>
    <button id="startBtn" type="button">Start</button>
    <button id="stopBtn" type="button">Stop</button>

    <div id="today"></div>

    <h2>Login History</h2>

<div>
  <button id="history" onclick="toggleLoginHistory()">
    Login History ▼
  </button>

  <div id="loginHistorySection" style="display: none; margin-top:10px;">
    <table id="tablecolor" border="1">
      <thead>
        <tr id="trtr">
          <th>Time</th>
          <th>IP</th>
          <th>Device</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="historyTable"></tbody>
    </table>
  </div>
</div>

<!--workhistory-->
<div>
  <button id="history2" onclick="toggleWorkHistory()">Work History ▼</button>

  <div id="workHistorySection" style="display:none; margin-top:10px;">
    <table id="tablecolor" border="1" cellpadding="6">
      <thead>
        <tr id="trtr">
          <th>Date</th>
          <th>Hours Worked</th>
        </tr>
      </thead>
      <tbody id="workHistoryTable"></tbody>
    </table>
  </div>
</div>

    <button id="deleteAccountBtn" style="background:gold;color:red;">
        Delete Your Account
    </button>

    <footer>Produced And Power BY Jetro Web Development' INC 
        <br>Designed & Developed by Daniel Cammue © 2026 / ALL RIGHT RESERVED
    </footer>
    

    <script src="{% static 'accounts/user.js' %}"></script>
</body>
</html>
