<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../../../staticfiles/accounts/style.css">
</head>
<body>
    <h3 id="date"></h3>
    <div id="alluserD">
    <h2 id="alluserdb">User Dashboard</h2>
    <h2 id="welcome">User Dashboard!</h2>
    </div>
    <h1>Jetro Web Development Incoorperated(JWD'INC)</h1>
    <h4>Jetro Web Work Sessions Tracker</h4>

    <div id="status"></div>
    <h2 id="todayd">Today's Dashboard</h2>
    <button id="startBtn" type="button">Start</button>
    <button id="stopBtn" type="button">Stop</button>

    <div id="today"></div>

    <button id="deleteAccountBtn" style="background:gold;color:red;">
        Delete Your Account
    </button>

    <footer>Produced And Power BY Jetro Web Development' INC 
        <br>Designed & Developed by Daniel Cammue © 2026 / ALL RIGHT RESERVED
    </footer>
    

    <script src="../../../staticfiles/accounts/user.js"></script>

</body>
</html>
