

body{
    background-color: rgb(90, 90, 209);
    margin: 0;
}

h1, h4 {
    color: orange;
    text-align: center;
}

h2 {
    color: orange;
    text-align: left;
}

h4 {
    margin-right: 15%;
}

#forgotBtn, #showRegister, #ask {
    font-size: x-large;
    font-weight: bolder;
    color: orange;

}


#sessions {
    background-color: aliceblue;
}


#loginBtn {
    background-color: whitesmoke;
    font-size: medium;
    color: #111;
    font-weight: bolder;
    width: 12%;
    padding: 1%;
}

#username, #password {
    font-size:larger;
}

#loginForm{
    margin-left: 35%;
    float: left;
    font-size: larger;
    margin-top: 10%;
}

/*admindashboard*/
#alluserD{
    float: left;
    margin-left: 1%;
}

#date {
    color: black;
    float: right;
    margin-right: 1%;
}

p, a{
    color: goldenrod;
}

#today, #todaytable, #todayd{
    margin-left: 42%;
}

#todayd{
    margin-top: 2%;
}

#AllAU, #usersTable {
    margin-left: 1%;
}

#totalTime {
    margin-left: 15%;
}

#deleteAccountBtn {
    margin-top: 26.6%;
    font-size: larger;
}

#startBtn{
    margin-left: 48%;
    background-color: rgb(46, 224, 46);
    font-size: larger;
}

#stopBtn{
    margin-left: 0%;
    background-color: red;
    font-size: medium;
}

#month {
    color: black;
    font-size: medium;
    margin-left: 1%;
}

#payrollBtn {
    color: orange;
    background-color: black;
    margin-top: 1%;
    font-size: medium;

}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}
